# Sample environment variables for Doctor Appointment System

# Server configuration
PORT=8001
NODE_ENV=development

# Database configuration
MONGODB_URI=mongodb://localhost:27017/doctor-appointment-db
# JWT configuration
JWT_SECRET=secret
JWT_EXPIRES_IN=30d

# Email configuration
SUPERADMIN_EMAIL=admin@example.com
SUPERADMIN_PASSWORD=admin123

# Other configurations
BASE_URL=http://localhost:8000/api

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=bt.kaji@gmail.com
EMAIL_PASSWORD="tple ttwu pywe mnis"
EMAIL_FROM="Doctor Appointment System <bt.kaji@gmail.com>"

# End Generation Here
